#title{
  background-color: orange;
  color: #a76a04;
  margin: -10px;
  padding: 20px;
}

#cart{
  margin-bottom: -10px;
  margin-right: 10px;
}

#content{
  margin: 40px;
}

.shoppingName{
  font-size: 25px;
  margin-left:130px;
  margin-bottom:-40px;
  margin-top:20px;

}

.empty{
  margin:25px;
  padding:10px;
  margin-left:-25px;
}
.image{
  display: inline;
  float:left
  margin-bottom: 10px;

}