body{
  font-family: 'Montserrat', sans-serif;
}

#title{
  background-color: orange;
  color: #a76a04;
  margin: -10px;
  padding: 20px;
}

#cart{
  margin-bottom: -10px;
  margin-right: 10px;
}

#content{
  margin: 40px;
}

.shoppingName{
  font-size: 25px;
  margin-left:130px;
  margin-bottom:-40px;

}

.desc{
  margin-left:130px;
  display:none;
  margin-top:-60px;
  color:grey;
  margin-bottom:40px;
  font-family: 'Roboto', sans-serif;
}


.empty{
  margin:1px;
  padding:10px;
}
.image{
  float:left
  margin-bottom: -10px;
  margin:5px;

}

.price{
  float:right;
  margin-top:45px;
  content: "$";
}

.price:before{
  content:"$";
}

#subtotal{
  font-size: 25px;
  margin-left:170px;
}


#total{
  float:right;
  margin-bottom:25px;
  margin-right:50px;
}

#total:before{
  content:"$";
}


#line{
  border:none;
  height:2px;
  background-color: grey;
}